<article class="[ featured-work ] [ dot-shadow panel ] [ bg-light-glare ]">
  <div class="[ wrapper ] mb-20">
    <div class="[ featured-work__inner ] grid sm:grid-cols-12 sm:gap-4 lg:grid-cols-2 [ flow ]">
      <div class="[ featured-work__intro ] mb-12">
        <div class="text-gray-500 text-sm uppercase font-medium lg:text-lg lg:mb-8">
          <span>{{ hardie.customDesign.eyebrow }}</span>
        </div>
        <h2 class="mt-2 mb-3 text-3xl text-gray-900 leading-tight font-boldd lg:text-5xl lg:mb-8" data-highlight="dark">
          {{ hardie.customDesign.title }}
        </h2>
        <p class="text-gray-800 font-normal text-xl tracking-widee lg:text-2xl leading-relaxed">
          {{ hardie.customDesign.summary }}
        </p>
      </div>
      <a class="block [ featured-work__item frame ]" href="/hardie/custom-design" arial-label="" data-frame="quaternary">
        <img class=" [ rounded ] max-h-80 object-cover w-full" src="{{ hardie.customDesign.imagePanel }}" alt="{{ hardie.customDesign.imagePanelAlt }}" loading="lazy">
      </a>
      <a class="block [ featured-work__item frame ]" href="/hardie/custom-design" arial-label="" data-frame="quaternary">
        <img class=" [ rounded ] max-h-80 object-cover w-full" src="{{ hardie.customDesign.imageShingle }}" alt="{{ hardie.customDesign.imageShingleAlt }}" loading="lazy">
      </a>
      <a class="block [ featured-work__item frame ]" href="/hardie/custom-design" arial-label="" data-frame="quaternary">
        <img class=" [ rounded ] max-h-80 object-cover w-full" src="{{ hardie.customDesign.imageLap }}" alt="{{ hardie.customDesign.imageLapAlt }}" loading="lazy">
      </a>

    </div>
  </div>
</article>
