{% if page.url != "/" %} {% set padding = "pb-10" %} {% endif %}
<section class="{{ padding }}">
  <div class="wrapper">
    <div class="flex flex-col items-center md:flex-row md:justify-between">
      <div class="flex items-center">
        <svg
          class="h-8 inline-block text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
          />
        </svg>
        <span class="ml-2 pb-1 bottom-2 text-xl font-semibold text-gray-500">
          <a href="tel:+1-816-945-9792" class="no-underline"
            >(816) 945 - 9792</a
          >
        </span>
      </div>
      <div class="mt-7 md:mt-0 flex items-center">
        <svg
          class="h-8 inline-block text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          viewbox="0 0 20 20"
          fill="currentColor"
        >
          <path
            d="M8.707 7.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l2-2a1 1 0 00-1.414-1.414L11 7.586V3a1 1 0 10-2 0v4.586l-.293-.293z"
          />
          <path
            d="M3 5a2 2 0 012-2h1a1 1 0 010 2H5v7h2l1 2h4l1-2h2V5h-1a1 1 0 110-2h1a2 2 0 012 2v10a2 2 0 01-2 2H5a2 2 0 01-2-2V5z"
          />
        </svg>
        <span class="ml-2 pb-1 bottom-2 text-xl font-semibold text-gray-500">
          <a href="mailto:hello@reliancesiding.com" class="no-underline"
            >hello@reliancesiding.com</a
          >
        </span>
      </div>
    </div>
  </div>
</section>
