<div class="my-10 text-3xl font-semibold" id="post-list">
  <div class="[ wrapper ] [ flow ]">
    {% if postListHeadline %}
      <h2 class="[ headline ] [ measure-micro ]" data-highlight="primary">
        {{ postListHeadline }}
      </h2>
    {% endif %}
    <div>
      <ol class="text-coolGray-600  [ flow ]">
        {% for item in postListItems %}
          <li class="hover:text-coolGray-800 underline">
            <a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
