<article class="[ featured-work ] [ dot-shadow panel ] [ bg-light-glare ]">
  <div class="[ wrapper ] [ flow ] mb-20">
    <div class="">
      <div class="mb-12">
        <div class="text-gray-500 text-sm uppercase font-medium lg:text-lg lg:mb-8">
          <span>{{ featurePrefix.eyebrow }}</span>
        </div>
        <h2 class="mt-2 mb-3 text-3xl text-gray-900 leading-tight font-bold lg:text-5xl lg:mb-8" data-highlight="dark">
          {{ featurePrefix.title }}
        </h2>
        <p class="text-gray-800 font-normal text-xl tracking-wide lg:text-2xl leading-relaxed">
          {{ featurePrefix.summary }}
        </p>
      </div>
      <div class="[ slanted_bg_grid ]">
        <div class="[ slanted_bg ] bg-carrot-300 border-carrot-300"></div>
        <div class="[ slanted_bg_grid__media ] place-self-center sm:h-96 md:h-124">
          <a href="/hardie/superior-durability" arial-label="" data-frame="quaternary">
            <img class="radius w-full h-full object-cover" src="{{ featurePrefix.image }}" alt="{{ featurePrefix.imageAlt }}" loading="lazy">
          </a>
        </div>
      </div>
    </div>
  </div>
</article>
