<article class="my-12 py-10 bg-lightShade text-darkGlare">
  <div class="[ wrapper ] [ flow ]">
    <h1 class="mt-10 mb-16 text-6xl text-center font-light">Get any look you want.
      <em class="text-2xl mt-8 mb-16 block">seriously, pretty much anything goes</em>
    </h1>
    <div class="grid sm:grid-cols-2 sm:gap-x-6 gap-y-10 sm:gap-y-32">
      <figure class="sm:col-start-1 sm:col-span-1 [ frame ]">
        <img src="{{ hardie.customDesign.imagePanel }}" alt="{{ hardie.customDesign.imagePanelAlt }}" class="rounded w-full h-full object-cover">
      </figure>
      <figcaption class="sm:col-start-2 sm:col-span-1">
        <div class="text-gray-500 text-sm uppercase font-medium">
          <span>Vertical Panel</span>
        </div>
        <h2 class="pb-3 mt-2 text-2xl leading-tight font-semibold text-gray-900 sm:text-3xl md:text-4xl">Clean look, easy install</h2>
        <p class="text-xl tracking-wide">Vertical panel is common in Kansas City, Overland Park, and Lee's Summit on many homes.  Typically installed on the sides/back of the house, with lap on the front.  Does not come in ColorPlus®, but we can paint it any color you'd like.</p>
      </figcaption>
      <figure class="sm:col-start-2 sm:col-span-1 [ frame ]">
        <img src="{{ hardie.customDesign.imageBatten }}" alt="{{ hardie.customDesign.imageBattenAlt }}" class="rounded w-full h-full object-cover">
      </figure>
      <figcaption class="sm:row-start-2 sm:col-start-1 sm:col-span-1">
        <div class="text-gray-500 text-sm uppercase font-medium">
          <span>Batten & Board</span>
        </div>
        <h2 class="pb-3 mt-2 text-2xl leading-tight font-semibold text-gray-900 sm:text-3xl md:text-4xl">Add texture with vertical lines</h2>
        <p class="text-xl tracking-wide">Very popular option and very much the standard on ranch style homes.  Batten board comes in ColorPlus® or pre-primed.  We love it for adding optical height to a home or adding dimension to otherwise flat faces.</p>
      </figcaption>
      <figure class="sm:col-start-1 sm:col-span-1 [ frame ]">
        <img src="{{ hardie.customDesign.imageShingle }}" alt="{{ hardie.customDesign.imageShingleAlt }}" class="rounded w-full h-full object-cover">
      </figure>
      <figcaption class="sm:col-start-2 sm:col-span-1">
        <div class="text-gray-500 text-sm uppercase font-medium">
          <span>Lap with Shingle</span>
        </div>
        <h2 class="pb-3 mt-2 text-2xl leading-tight font-semibold text-gray-900 sm:text-3xl md:text-4xl">Accents that stand out</h2>
        <p class="text-xl tracking-wide">Shingle looks great as an accent or on the whole house.  With Hardie Shingle you can get the classic shingle look without having the hassle of the cedar shingle maintenance.  Available in ColorPlus® as well as pre-primed.</p>
      </figcaption>
      <figure class="sm:col-start-2 sm:col-span-1 [ frame ]">
        <img src="{{ hardie.customDesign.imageLap }}" alt="{{ hardie.customDesign.imageLapAlt }}" class="rounded w-full h-full object-cover">
      </figure>
      <figcaption class="sm:row-start-4 sm:col-start-1 sm:col-span-1">
        <div class="text-gray-500 text-sm uppercase font-medium">
          <span>Lap siding</span>
        </div>
        <h2 class="pb-3 mt-2 text-2xl leading-tight font-semibold text-gray-900 sm:text-3xl md:text-4xl">Classic look, clean lines</h2>
        <p class="text-xl tracking-wide">Arguably the most popular Hardie Siding product.  Great on the front of house or combined with Batten Board or Shingle.  Availabilty in ColorPlus® technology so you get a timeless look with excellent longevity.</p>
      </figcaption>
    </div>
  </div>
</article>
